<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor - Minecraft BS</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/editor.css">
    <link rel="shortcut icon" type="image/png" href="../assets/logo.png">
</head>

<body>
    <script type="module" src="../js/controller/editorcontroller.js"></script>

    <header></header>

    <main id="editor-container">
        <div id="toolbar">
            <button onclick="voltarParaRascunhos()" class="btn-voltar">⬅ Voltar</button>
            
            <input type="text" id="titulo-rascunho" placeholder="Título do Rascunho...">
            
            <button onclick="salvarRascunho()">Salvar</button>
        </div>

        <textarea id="conteudo-rascunho" rows="20" placeholder="Comece a escrever sua história épica aqui..."></textarea>

        <div id="categorias-container">
            <h3>Categorias</h3>
            <div class="categoria-input-group">
                <input type="text" id="input-categoria" placeholder="Ex: Magia, Dragões, Império...">
                <button onclick="addCategoriaNaTela()">Adicionar</button>
            </div>
            <ul id="lista-categorias">
            </ul>
        </div>
    </main>

    <footer></footer>

    <script src="components/header.js"></script>
    <script src="components/footer.js"></script>
</body>

</html>