<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitor - Minecraft BS</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/leitor.css">
    <link rel="shortcut icon" type="image/png" href="../assets/logo.png">
</head>
<body>
    <header></header>
    
    <main id="leitor-container">
        <div id="capa-wrapper" class="capa-wrapper">
            <div id="book-cover">
                <h1 id="cover-title">Carregando Conhecimento...</h1>
                <p id="cover-author">Minecraft Book Studio</p>
            </div>
            <div class="cover-actions">
                <button onclick="abrirLivro()" class="btn-abrir-livro">📖 Abrir Livro</button>
                <button onclick="window.location.href='../index.html'" class="btn-voltar-capa">⬅ Voltar para a Estante</button>
            </div>

        </div>

        <div id="book-spread" class="escondido">

            <div class="leitor-top-bar">
                <button onclick="window.location.href='../index.html'" class="btn-fechar">⬅ Voltar para a Estante</button>
            </div>

            <div class="book-layout-externo">

                <button onclick="paginaAnterior()" id="btn-prev" class="nav-btn">◄</button>

                <div class="pages-wrapper">
                    <div class="page" id="page-left">
                        <button class="copy-btn" onclick="copiarPagina('esq')">📋 Copiar</button>
                        <div id="content-left" class="page-content"></div>
                        <span class="page-number" id="num-left"></span>
                    </div>

                    <div class="page" id="page-right">
                        <button class="copy-btn" onclick="copiarPagina('dir')">📋 Copiar</button>
                        <div id="content-right" class="page-content"></div>
                        <span class="page-number" id="num-right"></span>
                    </div>
                </div>

                <button onclick="proximaPagina()" id="btn-next" class="nav-btn">►</button>
                
            </div>
        </div>
    </main>

    <footer></footer>
    
    <script src="components/header.js"></script>
    <script src="components/footer.js"></script>
    <script type="module" src="../js/controller/leitorcontroller.js"></script>
</body>
</html>