<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rascunhos - Minecraft BS</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/rascunhos.css">
    <link rel="shortcut icon" type="image/png" href="../assets/logo.png">
</head>
<body>
    <header></header>
    
    <main class="container-rascunhos">
        <div class="cabecalho-rascunhos">
            <h1>Seus Rascunhos</h1>
            <a href="editor.html" class="btn-novo-rascunho">Criar Novo Rascunho</a>
        </div>

        <div id="lista-rascunhos" class="grid-rascunhos">
        </div>
    </main>

    <footer></footer>
    
    <script src="components/header.js"></script>
    <script src="components/footer.js"></script>
    <script type="module" src="../js/controller/rascunhoscontroller.js"></script>
</body>
</html>