<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft BS</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="shortcut icon" type="image/png" href="./assets/logo.png">
</head>
<body>
    <header></header>
    <script src="components/header.js"></script>
    <h1>Sobre</h1>
    <footer></footer>
    <script src="components/footer.js"></script>
</body>
</html>